body {
    
    background-image: url('/docs/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: block;
    list-style: none;
    padding-bottom: 7.5%;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    
}
.body {
    font-size: .8em;
    line-height: .8em;
    color: black;
    padding-left: 40px;
}
.work-title {
    font-size: .9em;
    line-height: 2;
    color: black;
}
footer {
    font-size: .8em;
}

.piece li, .other li {
    padding-bottom: 7.5%;
    margin-left: 7.5%;
    list-style: none;
    font-size: 1.5em;
}

.about {
    padding-left: 10%;
    padding-bottom: 10%;
    font-size: .8em;
    line-height: 1em;
}

div ul {
    padding-bottom: 7.5%;
    list-style: none;
}






