<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
				<h1>LIAM DAVIS</h1>
		<body>
			
		   
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">HOME</a></li> -->
		        	<!-- <li><a href="/work">WORK</a></li> -->
	        		<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/cv">CV</a></li>
					<li><a href="/docs/assets/metalfab_portfolio.pdf">RSCS</a></li>
	    		</ul>
		      </nav>

			<footer>
	    		<ul>
					<li>liammd3@gmail.com</li>
	        		<li><a href="https://www.instagram.com/onlydecorations/" target="_blank">instagram</a></li>
			  </ul>
			</footer>
		</body>
	</html>
