<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
				<h1>LIAM DAVIS</h1>
		<body>
			
		   
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">HOME</a></li> -->
		        	<!-- <li><a href="/work">WORK</a></li> -->
	        		<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/cv">CV</a></li>
					<!-- <li><li><a href="/docs/assets/CSRUS.pdf">CSRUS</a></li> -->
	    		</ul>
		      </nav>

			<footer>
	    		<ul>
					<li>liammd3@gmail.com</li>
	        		<li><a href="https://www.instagram.com/onlydecorations/" target="_blank">instagram</a></li>
					<li><a href="https://www.are.na/liam-davis-01hzw5aias8" target="_blank">are.na</a></li>
			  </ul>
			</footer>
		</body>
	</html>
