<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/mainfrontpage.css">
		</head>
			
		<body>
			
		   
			<div id="content">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">HOME</a></li> -->
		        	<!-- <li><a href="/work">WORK</a></li> -->
	        		
					<!-- <li><li><a href="/docs/assets/CSRUS.pdf">CSRUS</a></li> -->
	    		</ul>
		      </nav>

			<footer>
	    		
			</footer>
		</body>
	</html>
