<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
				<h1>LIAM DAVIS</h1>
		<body>
			
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about">WORK</a></li>
	        		<li><a href="/cv">ABOUT</a></li>
	        		<li><a href="/blog">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="liammd3@gmail.com">liammd3@gmail.com</a></li>
	        		<li><a href="https://www.instagram.com/onlydecorations/">instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
