<!DOCTYPE html>
	<html>
		<head>
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
		     <nav>
	    		<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="javascript:history.back()">BACK</a></li>

					<!-- <li><a href="/work">BACK</a></li> -->
	    		</ul>
		      </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li>liammd3@gmail.com</li>
	        		<li><a href="https://www.instagram.com/onlydecorations/" target="_blank">instagram</a></li>
					<li><a href="https://www.are.na/liam-davis-01hzw5aias8" target="_blank">are.na</a></li>
			  </ul>
			</footer>
		</body>
	</html>
